.layout{
  background: #f5f7f9;
}
.layout-content{
  min-height: 200px;
  overflow: hidden;
  background: #fff;
}
.layout-content-main{
  padding: 10px;
}
.label{
  font-size: 45px;
}
.card{
  width: 350px;
  margin-left: 50px;
  margin-top: 30px;
}
.li{
  margin-left: 20px;
}
.button{
  margin-left: 8px;
}
